# Linux / Debian junk
*~
.fuse_hidden*
.directory
Trash-*

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.swn
*.swa

# Neovim / Vim
Session.vim
Sessionx.vim
.netrwhist
tags
tags-*
*.tags

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/

# Zig
.zig-cache/
zig-out/
zig-cache/

# Rust
/target
Cargo.lock   # ignore for libs, keep if binary (your call)

# General build crap
*.o
*.a
*.so
*.dylib
*.dll
*.exe
